form.citizenForm div.buttonLayer {
	margin: 0;
	padding: 0;
	text-align: left;
	margin-top: 16px;
	clear: both;
}

form#citizenAccountPreferences div.helperText {
	display: none;	
}

div.citizenImage img {
	width: 79px;
	border: 1px #8A8A8A solid;
}

form.citizenForm div.formItem img {
	float: left;
	margin-bottom: 8px;
	width: 79px;
	border: 1px #A8A8A8 solid;
}

form.citizenForm div.formItem input.checkbox {	
	width: 14px;
	height: 14px;
}

div.indentedCheckbox input.checkbox {
	margin-right: 5px;
	margin-left: 160px;
}

form.citizenForm div.indentedCheckbox label {
	width: auto;
}

div#removeImage input {
	margin-bottom: 28px;
}

div#imageUpload input {
	margin-bottom: 28px;
}

div#messagesViaEmail input {
	margin-bottom: 20px;
}

div#mobilePhone input {
	margin-bottom: 20px;
}