form.citizenForm div.buttonLayer {
	margin: 0;
	padding: 0;
	text-align: left;
	margin-top: 16px;
	clear: both;
}

form#citizenAccountPreferences div.helperText {
	display: none;	
}

div.citizenImage img {
	width: 79px;
	border: 1px #8A8A8A solid;
}

form.citizenForm div.formItem img {
	float: left;
	margin-bottom: 8px;
	width: 79px;
	border: 1px #A8A8A8 solid;
}

form.citizenForm div.formItem input.checkbox {	
	width: 14px;
	height: 14px;
}

div.indentedCheckbox input.checkbox {
	margin-right: 5px;
	margin-left: 160px;
}

form.citizenForm div.indentedCheckbox label {
	width: auto;
}

div#removeImage input {
	margin-bottom: 28px;
}

div#imageUpload input {
	margin-bottom: 28px;
}

div#messagesViaEmail input {
	margin-bottom: 20px;
}

div#mobilePhone input {
	margin-bottom: 20px;
}

.dwr-form input[type = text], .dwr-form * textarea, .dwr-form input[type = password]{
	font-size: 18;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C6C6C6;
	width : 100%;
}
.dwr-form input:focus,
.dwr-form textarea:focus{
	border: 1px solid #4D90FE;
	backgroundColor: white;
}

ul.ui-autocomplete * .remove-item-class{
	display:none;
}
ul.ui-autocomplete * img{
	width:30px;
	height:40px;	
}

.data-row{
	display:table-row;
}

.data-div{
	display:table-cell;
	padding:0.2em;
}

.input-div{
	text-align:center;
}

.button-div{
	cursor:pointer;
	border-radius:45%;
	background:rgba(59,89,152,1);
	width:1.5em;
	height:1.5em;
	color:#FFFFFF;
	text-align:center;
}

.delete-button-div{
	background:rgba(200,50,80,1);
}

.add-button-div{
	font-size:200%;
}

.error-message{
	color:#E04477;
}

/*labelify plugin css*/
.labelinside{
	color: #999999;
}
/*------------*/

	